@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #041525; }

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0; }

.section-home {
  position: relative;
  overflow: hidden; }

.section-home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80rem;
  background: url("../images/circles-bg.svg") no-repeat center;
  bottom: -20rem; }

.section-wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem; }

.home-section-wrapper {
  text-align: center;
  min-height: 100vh;
  position: relative;
  padding-top: 5rem;
  overflow: hidden; }

.logo-container {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
  z-index: 1; }

.logo {
  background: url("../images/logo.svg") no-repeat;
  background-size: contain;
  width: 18rem;
  height: 8.8rem;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 1;
  animation: grow 1.5s infinite cubic-bezier(0.8, -0.45, 0.32, 1.4) alternate;
  cursor: pointer; }

.pulsing-circle {
  width: 9.6rem;
  height: 9.6rem;
  box-shadow: inset 0 0 0 3.2rem #58D1FF;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1; }

.pulsing-circle::before, .pulsing-circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  box-shadow: inset 0 0 0 1px #58D1FF; }

.pulsing-circle::before {
  animation: pulsing 1.5s infinite ease-in-out; }

.pulsing-circle::after {
  animation: pulsing 1.5s 0.4s infinite ease-in-out; }

.home-subtitle {
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 2rem; }

.btns-container {
  display: flex;
  justify-content: center; }

.btn {
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 2px;
  margin: 0 1.5rem 1rem;
  align-self: baseline;
  font-size: 2.4rem;
  transition: all 0.2s ease;
  min-width: 20%; }

.btn:hover {
  transform: scale(1.02); }

.btn:active {
  transform: none; }

.btn-pink {
  background: #FF2C5B;
  color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25); }

.btn-pink:hover {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.25); }

.btn-pink:active {
  background: #DF1E49; }

.btn-outline {
  background: rgba(255, 255, 255, 0.8);
  color: #041525;
  box-shadow: inset 0 0 0 2px #041525; }

.btn-outline:hover {
  box-shadow: inset 0 0 0 2px #FF2C5B; }

.btn-outline:active {
  background: #000;
  box-shadow: inset 0 0 0 2px #041525;
  color: white; }

.screenshots-container {
  margin-top: 3.2rem;
  position: absolute;
  bottom: -3.2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  padding-top: 2rem;
  max-height: 50vh;
  width: 100%;
  overflow: hidden; }

.desktop-screenshot {
  background: url("../images/desktop-screenshot.png") center 2rem #041C30 no-repeat;
  background-size: 100%;
  width: 54em;
  height: 54em;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  left: 8rem;
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s; }

.desktop-screenshot:hover {
  left: 9rem; }
  .desktop-screenshot:hover .mobile-screenshot {
    left: -18rem; }

.desktop-screenshot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: #041525;
  border-radius: 2px 2px 0 0; }

.mobile-screenshot {
  background: #041C30;
  background: url("../images/mobile-screenshot.png") center 2rem #041C30 no-repeat;
  background-size: 100%;
  width: 26rem;
  height: 48rem;
  border-radius: 2px;
  position: absolute;
  top: 9rem;
  left: -16rem;
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s; }

.mobile-screenshot::before, .mobile-screenshot::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 6.4rem;
  background: #041525; }

.mobile-screenshot::before {
  top: 0;
  border-radius: 2px 2px 0 0; }

.mobile-screenshot::after {
  bottom: 0;
  border-radius: 0 0 2px 2px; }

.arrow-down-container {
  background: #ffffff;
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: absolute;
  bottom: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  animation: glowing 1.5s infinite ease-in-out alternate; }

.arrow-down-container:hover {
  box-shadow: 0 0px 200px 20px rgba(88, 209, 255, 0.3);
  transform: translateX(-50%) scale(1.1); }

.arrow-down-container:active {
  box-shadow: none; }

.arrow-down-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/arrow-down.svg) no-repeat center;
  position: absolute;
  top: 0;
  left: 0; }

.menu-container {
  width: 100%;
  position: absolute;
  z-index: 3;
  text-align: center;
  font-size: 2.8rem;
  top: calc(100vh + 16rem); }

.menu-container::after {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FF2C5B;
  z-index: -1; }

.menu {
  list-style: none;
  max-width: 100%;
  margin: 0;
  padding: 0; }

.menu-item {
  display: inline-block;
  padding: 1rem 0.8rem;
  z-index: 1;
  position: relative;
  margin: 0 3rem; }

.menu-item::after {
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;
  bottom: 1rem;
  background: #00D3FF;
  z-index: -1;
  opacity: 0;
  transition: all 0.1s ease-in-out; }

.menu-item:hover::after {
  opacity: 1; }

.menu_item_link {
  text-decoration: none;
  color: #041525; }

.menu-item--selected {
  position: relative;
  font-weight: 600; }

.menu-item--selected::after {
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;
  bottom: 1rem;
  background: #00D3FF;
  z-index: -1;
  opacity: 1; }

.section-about {
  background: #FAFAFA;
  padding: 5rem 0; }

.section-title {
  text-align: center;
  width: 100%;
  font-size: 9.2rem;
  margin: 0 0 2rem 0;
  padding: 0;
  color: #041525; }

.about-container {
  background: #FFFFFF;
  box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.05);
  max-width: 76rem;
  padding: 5rem 10rem;
  margin: 0 auto; }

.about-text {
  margin: 0 0 5rem 0; }

.short-bio-container {
  overflow: auto;
  clear: both; }

.bio-avatar {
  width: 20%;
  background: #FAFAFA;
  background-size: cover;
  float: left;
  min-height: 1em; }

.bio-avatar img {
  max-width: 100%; }

.bio {
  width: 80%;
  float: left;
  padding-left: 2rem; }

.bio-title {
  font-size: 1em; }

.bio-tag-line {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem; }

.bio-links, .bio-links a {
  font-size: 1.8rem;
  color: rgba(4, 21, 37, 0.7); }

.bio-links a {
  text-decoration: none;
  font-weight: 600; }

.bio-links a:hover {
  text-decoration: underline; }

.section-timeline {
  background: #FAFAFA;
  width: 100%;
  padding: 5rem 0; }

.timeline_cards_container {
  max-width: 82rem;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  z-index: 0; }

.timeline_cards_container::before {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% - 16rem);
  top: 6rem;
  left: 5rem;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1; }

.timeline_cards_container::after {
  content: "💩";
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: 2.2rem;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
  bottom: 4rem;
  text-align: center;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 6rem;
  transition: all 0.2 ease-in-out; }

.timeline_card {
  overflow: auto;
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
  z-index: 0;
  padding: 3rem;
  min-height: 20rem; }

.timeline_card_link {
  color: #041525; }

.timeline_card_link:hover {
  color: #FF2C5B; }

.timeline_card_image {
  width: 100%;
  min-height: 6rem;
  background-color: #041525; }

.timeline_card_image_container {
  width: 30%;
  max-width: 30%;
  position: absolute;
  top: 6rem;
  z-index: 2;
  box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.05);
  background: #FAFAFA;
  transition: all ease-in-out 0.1s; }

.timeline_card_image_container:hover {
  transform: scale(1.05); }

.timeline_card_image_container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.2;
  transition: all ease-in-out 0.2s; }

.timeline_card_image_container:hover.timeline_card_image_container::before {
  opacity: 0; }

.timeline_card_content {
  background: white;
  float: right;
  width: 70%;
  padding: 3rem 3rem 3rem 4rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.05); }

.timeline_card_title {
  font-weight: 700; }

.timeline_card_btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 2px;
  border: solid 2px #00D3FF;
  font-size: 1.8rem;
  margin-top: 2rem;
  color: #041525; }

.timeline_card_btn:hover {
  border: solid 2px #FF2C5B; }

.timeline_card_btn:active {
  background: #FF2C5B;
  color: white; }

.timeline_card_comment {
  font-size: 1.8rem;
  font-style: italic;
  color: rgba(4, 21, 37, 0.5);
  margin-top: 2rem; }

.timeline_inline_paragraph {
  text-align: center;
  margin-bottom: 4rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 10rem; }

.timeline_inline_paragraph:hover {
  font-style: normal;
  color: black; }

.section-credits {
  background: #041525;
  color: white;
  padding: 5rem 0; }

.section-credits h2 {
  color: white;
  margin: 0; }

.credits-subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.7); }

.credits-card-container {
  margin: 8rem auto 0; }

.credits-card {
  position: relative;
  z-index: 0;
  margin: 0 auto 5rem;
  max-width: 76rem;
  min-height: 10rem;
  padding-bottom: 3rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1); }

.credits-card a {
  color: white; }

.credits-card-avatar {
  border-radius: 50%;
  max-width: 9.6rem;
  position: absolute;
  top: 2rem;
  left: -4.8rem;
  z-index: -1;
  opacity: 0.3;
  transition: all ease-in-out 0.3s; }

.credits-card-avatar:hover {
  opacity: 1;
  z-index: 1;
  transform: scale(1.1);
  border-radius: 2px; }

a.credits-card-name-title {
  color: #00D3FF;
  text-decoration: none;
  font-weight: 600; }

.credits-card-name-title:hover {
  text-decoration: underline; }

/*   responsive habibi   */
@media screen and (max-width: 640px) {
  html {
    font-size: 8px; }

  .home-subtitle {
    font-size: 3.8rem; }

  .about-container {
    padding: 5rem 3rem; }

  .credits-section-wrapper {
    padding: 0 2rem; } }
@keyframes pulsing {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }
@keyframes grow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }
@keyframes glowing {
  0% {
    box-shadow: 0 0px 200px 20px rgba(88, 209, 255, 0); }
  100% {
    box-shadow: 0 0px 200px 20px rgba(88, 209, 255, 0.5); } }

/*# sourceMappingURL=main.css.map */
