$dark-blue: #041525;
$secondary-dark-blue: #041C30;
$pink: #FF2C5B;
$light-blue: #00D3FF;
$super-light-grey: #FAFAFA;
$dark-blue-07: rgba($dark-blue,0.7);
$white07: rgba(255,255,255,0.7);
$black01: rgba(0,0,0,0.1);